nav {
    height: 50px;
    background-color: crimson;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav a {
    margin: 0px 20px;
    color: #f1f1f1;
    font-size: 1.8rem;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 5px;
    width: 0px;
    background-color: #ffbf00;
    transition: 0.5s ease;
}

nav a:hover::after {
    width: 100%;
}

.container {
    background-color: black;
    color: #f1f1f1;
}